:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --text-black-50: #aba6f3;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body.colorA {
  --skin-color: #ec1839;
}

body.colorB {
  --skin-color: #fa5b0f;
}
body.colorC {
  --skin-color: #37b182;
}
body.colorD {
  --skin-color: #1854b4;
}
body.colorF {
  --skin-color: #f021b2;
}
body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
