---
import "@/styles/Aside.css";
import { basics } from "@cv";
const { branch } = basics;
---

<div class="aside">
  <div class="aside__nav-toggler">
    <span></span>
  </div>
  <div class="aside__logo">
    <a href="/"><span>{branch.substring(0, 1)}</span>{branch.substring(1)}</a>
  </div>
  <ul class="nav">
    <li><a href="#home" class="active"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
    <li><a href="#services"><i class="fa fa-list"></i> Services</a></li>
    <li><a href="#portfolio"><i class="fa fa-briefcase"></i> Portafolio</a></li>
    <li><a href="#contact"><i class="fa fa-comments"></i> Contact</a></li>
  </ul>
</div>
<script type="module">
  const aside = document.querySelector(".aside");
  const navTogglerBtn = document.querySelector(".aside__nav-toggler");
  navTogglerBtn.addEventListener("click", () => {
    asideSectionTogglerBtn();
  });
  function asideSectionTogglerBtn() {
    aside.classList.toggle("open");
    navTogglerBtn.classList.toggle("open");
  }
</script>
