---
import "@/styles/style-switcher.css"

---

<div class="style-switcher">
    <div class="style-switcher-toggler s-icon">
      <i class="fas fa-cog fa-spin"></i>
    </div>
    <div class="day-nigth s-icon">
      <i class="fas fa-moon"></i>
    </div>
    <h4>Tema de Colores</h4>
    <div class="colors">
      <span class="colorA" onclick="setActiveStyle('colorA')"></span>
      <span class="colorB" onclick="setActiveStyle('colorB')"></span>
      <span class="colorC" onclick="setActiveStyle('colorC')"></span>
      <span class="colorD" onclick="setActiveStyle('colorD')"></span>
      <span class="colorF" onclick="setActiveStyle('colorF')"></span>
    </div>
  </div>

  <script is:inline>
    const styleSwitcherToggle = document.querySelector(".style-switcher-toggler");
    styleSwitcherToggle?.addEventListener("click", () => {
      document.querySelector(".style-switcher")?.classList.toggle("open");
    });
  
    window.addEventListener("scroll", () => {
      if (document.querySelector(".style-switcher")?.classList.contains("open")) {
        document.querySelector(".style-switcher")?.classList.remove("open");
      }
    });
  
    const bodyClass = document.body.classList; 
    const themesCalss =  ["colorA", "colorB", "colorC", "colorD", "colorF"]
    function setActiveStyle(color) {
      bodyClass.forEach((c)=>{
        themesCalss.find((c)=>{
          document.body.classList.replace(c, color)
        });
      })
    }
  
    const dayNigth = document.querySelector(".day-nigth");
    dayNigth.addEventListener("click", () => {
      dayNigth.querySelector("i").classList.toggle("fa-sun");
      dayNigth.querySelector("i").classList.toggle("fa-moon");
      document.body.classList.toggle("dark");
    });
    window.addEventListener("load", () => {
      if (document.body.classList.contains("dark")) {
        dayNigth.querySelector("i").classList.replace("fa-moon", "fa-sun");
      } else {
        dayNigth.querySelector("i").classList.add("fa-moon");
      }
    });
  </script>
