---

---

<div class="contact-form padd-15">
  <div class="row">
    <div class="form-item col-6 padd-15">
      <div class="form-group">
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="Nombre"
        />
      </div>
    </div>
    <div class="form-item col-6 padd-15">
      <div class="form-group">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Email"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-item col-12 padd-15">
      <div class="form-group">
        <input
          type="text"
          name="subject"
          id="subject"
          class="form-control"
          placeholder="Asunto"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-item col-12 padd-15">
      <div class="form-group">
        <textarea
          class="form-control"
          placeholder="Mensaje"
          name="message"
          id="message"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-item col-12 padd-15">
      <button type="submit" class="btn">Enviar Mensaje</button>
    </div>
  </div>
</div>
